<html>

<head>

</head>

<body>
  <h1> MA TODO-LIST</h1>
  <ul id="contenant">

  </ul>
  <label for="a_ajouter"> Quelle tache souhaitez vous rajoutez ? </label>
  <input type="text" id="a_ajouter" value="???">
  <input type="submit" id="envoie" value="Envoyez">
  <script src="socket.io/socket.io.js"></script>
  <script type="text/javascript">

  //  Quand un client se connecte, il récupère la dernière Todolist connue du serveur                   //REALISE
  //  Quand un client ajoute une tâche, celle-ci est immédiatement répercutée chez les autres clients   //REALISE
  //  Quand un client supprime une tâche, celle-ci est immédiatement supprimée chez les autres clients  //REALISE



    //On declare notre socket coté client
    var socket = io.connect('http://localhost:8080');

    //Cette fonction sera appelé en cas de changement (suppr/modif/ajout)
    socket.on('change', function(array) {
      //on prend le conteneur UL et on le rempli
      var contenant = document.getElementById('contenant');
      contenant.innerHTML = "";
      // Pour chaque element du tableau on crée un element de la liste et on y ajoute nos listeners
      for (var i = 0; i < array.length; i++) {
        var content = document.createElement("li");
        var spanElt = document.createElement("span");
        spanElt.classList.add("value");
        spanElt.textContent = array[i];
        var suppElt = document.createElement("a");
        suppElt.href = "#";
        suppElt.id = i;
        suppElt.textContent = " Supprimer ";
        var spanElt2 = document.createElement("span");
        spanElt2.textContent = "Modifier ";
        var inputElt = document.createElement("input");
        inputElt.setAttribute("type", "text");
        inputElt.id = "newValue" + i;
        var EnvoieElt = document.createElement("button");
        EnvoieElt.textContent = "Envoyer";
        EnvoieElt.id = "modif" + i;
        // Ajout des listeners
        EnvoieElt.addEventListener("click", envoyerModification);
        suppElt.addEventListener("click", envoyerSuppression);

        // on crée l'element final
        content.appendChild(spanElt);
        content.appendChild(suppElt);
        content.appendChild(spanElt2);
        content.appendChild(inputElt);
        content.appendChild(EnvoieElt);
        // on l'ajoute au body
        contenant.appendChild(content);

      }
    });

    // fonction qui envoie une tache
    function envoyerTache(event) {
      console.log(document.getElementById("a_ajouter").value);
      socket.emit("ajouterTache", document.getElementById("a_ajouter").value);
    }
    // fonction qui envoie une tache modifie (id et nouvelle valeur)
    function envoyerModification(event) {
      idValeur = event.target.id;
      id = idValeur.replace("modif", "");
      nouvelleValeur = document.getElementById("newValue"+id).value;
      result = {
        "id" : id,
        "valeur" : nouvelleValeur
      }
      socket.emit("modifierTache",result);
    }
    // fonction qui demande la suppression d'un tache
    function envoyerSuppression(event) {
      console.log(event.target.id);
      socket.emit("supprimerTache", event.target.id);
    }
    window.onload = function() {
      //Ici on ajoute l'event "click" pour le bouton d'ajout de tache
      document.getElementById("envoie").addEventListener("click", envoyerTache);
    }
  </script>
</body>

</html>
