<html>

<head>

</head>

<body>
  <h1> MA TODO-LIST</h1>
  <ul>
    <%  for(var i = 0 ; i < todo.length ; i++) { %>
      <li>
        <%= todo[i] %> <a href="/todo/supprimer/<%= i %>"> Supprimer </a>
          <form class="" action="todo/modifier" method="post">
          <label for="a_modifier"> Modifier </label>
          <input type="hidden" name="old_value" value="<%= i %> ">
          <input type="text" name="new_value" >
          <input type="submit" name="envoie" value="Envoyez">
        </form>
      </li>
      <% } %>
  </ul>
  <form class="" action="todo/ajouter" method="post">
    <label for="a_ajouter"> Quelle tache souhaitez vous rajoutez ? </label>
    <input type="text" name="a_ajouter" value="???">
    <input type="submit" name="envoie" value="Envoyez">
  </form>
</body>

</html>
